extends baseEmail

block content 
    p Hi #{username},
    p Forgot your password?
    p Submit your patch request with your new password and confirm to:
    p Reset token: #{url}

    p If you didn't forget your password, please ignore this email.
    