extends baseEmail

block content 
    p Hi #{username},
    p Welcome to Solid Clock, we're glad to have you 
    p We're all a big familiy here, we hope you will find this application useful!
    p If you need any help with this application, please don't hesitate to contact us!
    p - The Solid Clock Team (Lior and Gilad) 